.section-research{
    .container{
        position: relative;
        width: 70%;
        margin: 1rem auto;
        .mySlides{
            text-align: center;
            display: none;
        }
        .numbertext {
            color:black;
            font-size: 12px;
            padding: 8px 12px;
            position: absolute;
            top: 0;
          }
          .prev,
          .next {
            cursor: pointer;
            position: absolute;
            top: 40%;
            width: auto;
            border-radius: 0 3px 3px 0;
            padding: 16px;
            margin-top: -50px;
            color: black;
            font-weight: bold;
            font-size: 20px;
            user-select: none;
          
            &:hover{
                background-color:lighten($primary-color,60%);
            }
            
        }
          .next {
            right: 0;
            border-radius: 3px 0 0 3px;
          }
          .caption-container {
            text-align: center;
            background-color: #222;
            padding: 2px 16px;
            color: white;
          }
          .row{
            display: flex;
            // clear: both;
              .column {
                // float: left;
                width: 16.66%;
                .demo{
                    opacity: 0.6;
                    &:hover{
                        opacity: 1;
                    }
                  }
                .active{
                    opacity: 1;
                    
                }
              }


          }
          

    }

}